<div class="jumbotron">
  <h1 class="display-4">Explanation Generation</h1>
  <p class="lead">This is the explanation generation web application for the course Crowd Computing.</p>
  <hr class="my-4">
  <p>The purpose of this application is to automatically generate sequence (explanations) based on a given scenario and automatically post these as tasks to figure-eight.</p>
</div>